.shopping-list-detail {
  margin: 20px;
  text-align: center;
}
  
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
  
th, td {
  border: 4px solid black;
  padding: 8px;
  text-align: center;
}
  
th {
  background-color: #f0f0f0;
  display: none;
}

.wrapper {
  max-width: 600px;
  margin: auto;
  padding: 30px;
}

button {
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 3px;
  font-size: 13px;
}

button:hover {
  background-color: #b6b6b6;
  cursor: pointer;
  transition: .5s;
}

.tdAmount {
  width: 10%;
}

h2 {
  color: white;
}

.tdName, .tdAmount {
  font-weight: bold;
  font-size: x-large;
}

.tdStatus {
  width: 50px;
}

.itemDeleteButton {
  width: 50px;
}

.addItemButton {
  background: none;
  border: 3px solid #ccc;
  cursor: pointer;
  padding: 4px;
  font-size: 25px;
  margin-bottom: 16px;
  position: absolute;
  top: 150px;
  right: 25px;
}

.addItemButton:hover{
  background: #b6b6b6;
}

.pie {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}