.listName {
  padding: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.add-button {
  background: none;
  border: 3px solid #ccc;
  cursor: pointer;
  padding: 4px;
  font-size: 25px;
  margin-bottom: 16px;
  position: absolute;
  top: 95px;
  right: 25px;
}

.optionButton {
  background: none;
  border: 3px solid #ccc;
  cursor: pointer;
  color: blue;
  margin-right: 10px;
  padding: 3px;
  font-size: 16px;
}

.titleList {
  font-size: 27px;
}

h3 {
  color: black;
}

.tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tileStyle {
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  background: darkgrey;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
