.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: -40px;
}

.icon {
    height: 50px;
    cursor: pointer;
}  

h1 {
    font-size: xx-large;
    cursor: pointer;
}

h5 {
    color: transparent;
}